<?xml version="1.0"?>

<model>
  <name>House 1F</name>
  <version>1.0</version>
  <sdf version="1.3">model-1_3.sdf</sdf>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>David Lorenzi</name>
    <email>david.lorenzi92@gmail.com</email>
  </author>

  <description>
    House 1 with furniture.
  </description>

</model>
