<launch>

	<!-- Some general parameters -->
	<arg name="paused" default="false" />
	<arg name="use_sim_time" default="true" />
	<arg name="gui" default="true" />
	<arg name="headless" default="false" />
	<arg name="debug" default="false" />
	<arg name="world_file" default="office_1_empty.world" />
	<rosparam file="$(find nav2d_files)/param/p3dx_ros.yaml"/>

	<!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find environments)/worlds/$(arg world_file)" />
		<arg name="debug" value="$(arg debug)" />
		<arg name="gui" value="$(arg gui)" />
		<arg name="paused" value="$(arg paused)" />
		<arg name="use_sim_time" value="$(arg use_sim_time)" />
		<arg name="headless" value="$(arg headless)" />
	</include>

	<arg name="robot_name" default="r1" />
	<arg name="robot_position" default="-x 0.0 -y 0.0 -z 0.01 -R 0.0 -P 0.0 -Y 0.785" />


	<group ns="$(arg robot_name)">

		<!-- Load the URDF into the ROS Parameter Server -->
		<param name="robot_description" command="$(find xacro)/xacro.py '$(find p3dx)/xacro/p3dx/pioneer3dx.xacro'" />

		<!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
		<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model $(arg robot_name) -param robot_description $(arg robot_position) "/>

		<node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
			<remap from="joint_state" to="joint_state_controller"/>
			<param name="publish_frequency" type="double" value="30.0"/>
			<param name="tf_prefix" type="string" value="$(arg robot_name)"/>
		</node>
		
		<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"></node>
	</group>

	<!-- Start the Operator to control the simulated robot -->
	<node name="Operator" pkg="nav2d_operator" type="operator" >
		<!-- <remap from="scan" to="base_scan"/> -->
		<remap from="scan" to="/r1/front_laser/scan"/>
		<remap from="cmd_vel" to="/r1/cmd_vel"/>
		<rosparam file="$(find nav2d_files)/param/p3dx_operator.yaml"/>
		<rosparam file="$(find nav2d_files)/param/p3dx_costmap.yaml" ns="local_map" />
	</node>

	<!-- Start Mapper to genreate map from laser scans -->
	<node name="Mapper" pkg="nav2d_karto" type="mapper">
		<!-- <remap from="scan" to="base_scan"/> -->
		<remap from="scan" to="/r1/front_laser/scan"/>
		<rosparam file="$(find nav2d_files)/param/p3dx_mapper.yaml"/>
	</node>-->

	<!-- Start the Navigator to move the robot autonomously -->
	<node name="Navigator" pkg="nav2d_navigator" type="navigator">
		<remap from="cmd_vel" to="/r1/cmd_vel"/>
		<remap from="scan" to="/r1/front_laser/scan"/>
		<rosparam file="$(find nav2d_files)/param/p3dx_navigator.yaml"/>
	</node>

	<node name="GetMap" pkg="nav2d_navigator" type="get_map_client" />
	<node name="Explore" pkg="nav2d_navigator" type="explore_client" />
	<node name="SetGoal" pkg="nav2d_navigator" type="set_goal_client" />

	<node pkg="tf" type="static_transform_publisher" name="base_to_odom_r1"
	     args="0.0 -0.0 0.0 0.0 0.0 0.0 base_link odom 200" />

	<!--<node name="PioneerState" pkg="robot_state_publisher" type="state_publisher">
		<remap from="joint_state" to="joint_state_controller"/>
		<param name="publish_frequency" type="double" value="15.0" />
		<param name="tf_prefix" type="string" value="" />
	</node>-->	

	<!-- RVIZ to view the visualization -->
	<node name="RVIZ" pkg="rviz" type="rviz" args=" -d $(find nav2d_files)/param/tutorial3.rviz" />

</launch>
